.page {
  margin: 0;
  &__header {}
  &__main {}
  &__footer {}
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  &__logo {
    width: 100px;
    height: auto;
  }
  &__menu {}
}

.menu {
  display: flex;
  &__item {
    margin: 0 14px;
    padding: 14px;
    &--active {
      background: lightgray;
      font-weight: bold;
    }
  }
}

.main {
  &__section {
    width: 100%;
    &--blue {
      background: #07528F;
    }
    &--green {
      background: #00CFB2;
    }
    &--orange {
      background: #F27E3F;
    }
  }
}

.service {
  display: flex;
  padding: 40px 0;
  margin: 0 auto;
  width: 660px;

  &__img {
    width: 300px;
    height: auto;
  }
  &__text {
    width: 300px;
    margin-left: 30px;
    color: #fff;
  }
  &__title {
    margin-bottom: 6px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__info {
    margin-bottom: 6px;
    font-size: 0.8rem;
  }
  &__action-btn {
    background: #BF0808;
    color: #fff;
    font-size: 0.8rem;
    height: 36px;
    padding: 0 16px;
    border: none;
    outline: none;
    text-align: center;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  background: lightgray;
  &__item {
    padding: 14px;
  }
}
